# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore env file
.env
/http-requests/test-api-cards.http
/http-requests/test-api-boards.http

local.properties
